rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // Trips collection
    match /trips/{userId} {
      allow create: if isOwner(userId);
      allow read, delete: if isAuthenticated() && (
        isOwner(userId) || 
        (resource != null && resource.data.collaboratorIds.hasAny([request.auth.uid]))
      );
      allow update: if isAuthenticated() && (
        isOwner(userId) || 
        (resource != null && resource.data.collaboratorIds.hasAny([request.auth.uid])) ||
        // Allow adding oneself as a collaborator if they have the link
        (resource != null && request.resource.data.collaboratorIds.hasAll(resource.data.collaboratorIds) && request.resource.data.collaboratorIds.hasAny([request.auth.uid]))
      );
    }
  }
}
